.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div{
        width: 50%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px){
    .container{


        & > div:first-of-type{
            display: none;
        }

        & > div:last-of-type{
            width: 70%;
        }
    }
}
